<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzx.crm.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.zzx.crm.domain.Permission">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="resource" property="resource" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from permission
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.zzx.crm.domain.Permission" useGeneratedKeys="true" keyProperty="id">
        insert into permission (name, resource)
        values (#{name,jdbcType=VARCHAR}, #{resource,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.zzx.crm.domain.Permission">
        update permission
        set name = #{name,jdbcType=VARCHAR},
          resource = #{resource,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select id, name, resource
        from permission
        where id = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, resource
        from permission
    </select>

    <sql id="where_sql">
        <where>
            <if test="rid!=null">
                id in (select p_id from role_permission where r_id = #{rid})
            </if>
        </where>
    </sql>
    <select id="queryForPageCount" resultType="long">
        select count(*) from permission
        <include refid="where_sql"/>
    </select>
    <select id="queryForPage" resultMap="BaseResultMap">
        select id, `name`, resource from permission
        <include refid="where_sql"/>
        <if test="page!=null">
            limit #{start},#{rows}
        </if>
    </select>
    <select id="queryByEid" resultType="string">
        select p.resource from permission p
        left join role_permission mid on (p.id = mid.p_id)
        left join role r on (r.id = mid.r_id)
        where r.id in (
            select r_id from emp_role where e_id = #{eid}
        )
    </select>
</mapper>